!!!
%html
  %head
    %script{:type => 'text/javascript', :src => "javascripts/change_table_col.js"}
  %body
    .GridInformation
      Total Grids : #{@total}</br>
      Vertical : #{@ver}</br>
      Horizontal : #{@hor}</br>
    %table{:border => "1", :cellspacing => "2", :cellpadding => "5", :style => "color : black;"}
      %tbody
        - 1.upto @ver do |i|
          %tr{:id => "tr#{i}"} 
          - @hor.downto 1 do |j|
            %td{:id => "td#{j + @hor * (i - 1)}", :onmouseover => "M_over(this)", :onmouseout => "M_out(this)", :onclick => "M_click(this)"} #{j + @hor * (i - 1)}
    %form
      %input{:type => 'button', :value => 'back', :onclick => 'history.back()'}
